html, body {
                background-color: #fff;
                margin: 10px;
            }

/*操作台--查找对应数据*/
.operate {
	background-color: #fff;
	display: block;
	margin: 10px 10px;
	height: 80px;
}

.operate-items {
	list-style-type: none;
	display: inline;
	float: left;
	margin: 20px;
	width: 100%;
	background-color: #fff;
}

.operate-items li {
	float: left;
	width: 13%;
}

.operate button {
	width: 100px;
	height: 50px;
}

/*表格数据*/
.table-data {
	padding: 10px;
	width: 80%;
	margin: 0 auto;
	border: 1px solid;
	border-collapse: collapse;
	background-color: #fff;
}

.table-data tr {
	width: 100%;
	height: 40px;
}

.table-data tr, th, td {
	border: 1px solid;
}

.table-data tr .id {
	width: 8%;
}
.table-data tr .date {
	width: 12%;
}
.table-data tr .company {
	width: 12%;
}
.table-data tr .product {
	width: 14%;
}
.table-data tr .type {
	width: 10%;
}
.table-data tr .car {
	width: 8%;
}
.table-data tr .weight {
	width: 8%;
}
.table-data tr .tip {
}

.table-data td input {
	border: none;
	font-size: 15px;
	width: 100%;
}

.table-data tfoot button {
	width: 80%;
	margin: 0 10%;
}